@base: #f938ab;

.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  box-shadow:         @style @c;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}
.box {
  color: saturate(@base, 5%);
  border-color: lighten(@base, 30%);
  div { .box-shadow(0 0 5px, 30%) }
}

.header-container { 
    color: red; 
	@media only screen and (min-width : 768px) { color: green; } 		
	@media only screen and (min-width : 1024px) { color: blue; }		

	.nav{
		@media only screen and (min-width : 768px) { color: green; } 		
		@media only screen and (min-width : 1024px) { color: blue; }				
	}
}

section { 
    color: green; 
	@media only screen and (min-width : 768px) { color: blue; } 
	@media only screen and (min-width : 1024px) { color: red; }
}