.box {
  color: #fe33ac;
  border-color: #fdcdea;
}
.box div {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.header-container {
  color: red;
}
@media only screen and (min-width: 768px) {
  .header-container {
    color: green;
  }
}
@media only screen and (min-width: 1024px) {
  .header-container {
    color: blue;
  }
}
@media only screen and (min-width: 768px) {
  .header-container .nav {
    color: green;
  }
}
@media only screen and (min-width: 1024px) {
  .header-container .nav {
    color: blue;
  }
}
section {
  color: green;
}
@media only screen and (min-width: 768px) {
  section {
    color: blue;
  }
}
@media only screen and (min-width: 1024px) {
  section {
    color: red;
  }
}
